body {
 background-color: #000000;
 font-family: "Courier New";
 color: white;
 font-weight: italic;
}

p {
  text-align: center;
}

h1, h2 {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}


#aLongTimeAgo.dialogue {
  color: dodgerblue;
  text-align: left;
  padding: 20px;
  border: 10px dotted green;
}

.action {
  text-align: left;
}

#crawl.dialogue {
  color: yellow;
  text-align: left;
  padding: 20px;
  border: 10px dotted green;
}

.character {
  font-weight: bold;
  text-align: left;
}

.dialogue {
  text-align: left;
}

ul {
  display: block;
  text-align: center;
  border: 50px solid red;
  padding: 100px;
  



}
li {
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;



}

h1 {
  padding-top: 50px;padding-bottom: 10px;padding-left: 25px;
  border:10px dotted red;
  margin: width: 500px;
  margin: 10px auto;
}

.cast {
  font-size: 25px;
}

img {
  display: block;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
