body {
  background-color: gold;
  font-weight: italic;
}

h1 {
  text-align: center;
  font-family: "Verdana";
  font-size: 45px;
}

li {
  font-size: 25px;
  font-weight: italic;
}

figcaption {
  text-align: center;
  font-size: 45px;
}

.row {
  display: flex;
}

.column {
  flex: auto;
  padding: 10px;
}

#city {
  display: block;
  max-width: 45%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Pittsburgh {
  display: block;
  max-width: 15%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
